
{% extends "Securities/base.html" %}
{% load crispy_forms_tags %}
{% load parse_numbers %}
{% block title %} Rupy Investments | Portfolio | {{object.portfolio_name}}{% endblock title %}
{% block bodyContent %}
<div class = "container-fluid users-profile-page">
<div class = "row">
<div class = "col-md-1 stock-symbol-detail-page-col-1">
<ul>
<a href = "{% url 'stock-most-popular' %}"><li><i class="far fa-star"></i></li></a>
<li><i class="fas fa-poll"></i></li>
<a href = "{% url 'markets' %}"><li><i class="fas fa-globe"></i></li></a>
<li><i class="fab fa-searchengin"></i></li>
<a href = "{% url 'profile' %}"><li class = "in-stock-symbol-detail-page"><i class="fas fa-user-circle"></i></li></a>
</ul>
</div>

<div class = "container col-md-10 users-profile-page-col-2">
<div class = "container users-profile-page-header-img-section">

</div>
<div class = "users-profile-page-header-img-section-heading">
<h2>{{user.first_name}} {{user.last_name}}</h2>
</div>
<div class = " container users-profile-page-header-img-section-nav">
<ul>
{% if request.user.is_superuser %}
<a href = "{% url 'admin:index' %}" target = "blank"><li>ADMIN SITE</li></a>
<a href = "{% url 'profile' %}"><li>PROFILE</li></a>
<a href = "{% url 'password' %}"><li>PASSWORD</li></a>
<a href = "{% url 'subscriptions' %}"><li>SUBSCRIPTIONS</li></a>
{% else %}
<a href = "{% url 'profile' %}"><li>PROFILE</li></a>
<a href = "{% url 'password' %}"><li>PASSWORD</li></a>
<a href = "{% url 'subscriptions' %}"><li>SUBSCRIPTIONS</li></a>
{% endif %}
</ul>
</div>

<div class = " container users-profile-page-header-img-section-body">
  <form class = "login-register-page-col-2-login-form-main" method = "POST">
  {% csrf_token %}
  <div class = "login-register-page-col-2-login-form password-change-form">
  <div class = "container-fluid">
  <div class = "row">
  <div class = "col-md-6 style-form-inline-padding">
  <div class = "style-form-inline">{{form.old_password | as_crispy_field}}</div>
  </div>
  <div class = "col-md-6 style-form-inline-padding">
  <div class = "style-form-inline">{{form.new_password1 | as_crispy_field}}</div>
  </div>
  </div>
  </div>
  <div class = "container-fluid">
  <div class = "row">
  <div class = "col-md-6 style-form-inline-padding">
  <div class = "style-form-inline">{{form.new_password2 | as_crispy_field}}</div>
  </div>
  <div class = "col-md-6">
  </div>
  </div>
  </div>
  <ul>
  <li class = "password-requirement-description">Your password can’t be too similar to your other personal information.</li>
  <li class = "password-requirement-description">Your password must contain at least 8 characters.</li>
  <li class = "password-requirement-description">Your password can’t be a commonly used password.</li>
  <li class = "password-requirement-description">Your password can’t be entirely numeric.</li>
  </ul>
  <div class = "container-fluid">
  <div class = "row">
  <div class = "col-md-6 style-form-inline-padding">
  <button class = "login-register-page-col-2-login-form-submit" type = "submit">UPDATE</button>
  </div>
  <div class = "col-md-3">
  </div>
  <div class = "col-md-3">
  </div>
  </div>
  </div>
  </div>
  </form>
</div>
</div>
<div class = "col-md-1 users-profile-page-col-3">

</div>
</div>
</div>
{% include "Securities/footer.html" %}
{% endblock bodyContent %}
