{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% block title %}Rupy | Password Reset {% endblock title %}
{% block bodyContent %}
<div class = "container-fluid">
<div class = "row">
<div class = "col-md-5 login-register-page-col-1">
<h1>RUPY</h1>
<p>Welcome Back</p>
</div>
<div class = "col-md-7 login-register-page-col-2">
<div class = "login-sign-up-toggle">
<ul>
<li><a id = "login-register-page-col-2-sign-up-link" href = "{% url 'register' %}">SIGN UP</a></li>
<li><a id = "login-register-page-col-2-sign-up-link-login-link" href = "{% url 'login' %}">LOG IN</a></li>
</ul>
</div>
<div class = "login-register-page-col-2-login-form-section">
<h1>Create Your New Password</h1>
<form class = "login-register-page-col-2-login-form-main" method = "POST">
{% csrf_token %}
<div class = "login-register-page-col-2-login-form password-change-form">
<div class = "container-fluid">
<div class = "row">
<div class = "col-md-6 style-form-inline-padding">
<div class = "style-form-inline">{{form.new_password1 | as_crispy_field}}</div>
</div>
<div class = "col-md-6 style-form-inline-padding">
<div class = "style-form-inline">{{form.new_password2 | as_crispy_field}}</div>
</div>
</div>
</div>
<ul>
<li class = "password-requirement-description">Your password can’t be too similar to your other personal information.</li>
<li class = "password-requirement-description">Your password must contain at least 8 characters.</li>
<li class = "password-requirement-description">Your password can’t be a commonly used password.</li>
<li class = "password-requirement-description">Your password can’t be entirely numeric.</li>
</ul>
<div class = "container-fluid">
<div class = "row">
<div class = "col-md-6 style-form-inline-padding">
<button class = "login-register-page-col-2-login-form-submit" type = "submit">Reset Password</button>
</div>
<div class = "col-md-3">
</div>
<div class = "col-md-3">
</div>
</div>
</div>
</div>
</form>
</div>
</div>
</div>
</div>
{% include "Securities/footer.html" %}
{% endblock bodyContent %}
