{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% block title %}Rupy | Recover Your Password {% endblock title %}
{% block bodyContent %}
<div class = "container-fluid">
<div class = "row">
<div class = "col-md-5 login-register-page-col-1">
<h1>RUPY</h1>
<p>Welcome Back</p>
</div>
<div class = "col-md-7 login-register-page-col-2">
<div class = "login-sign-up-toggle">
<ul>
<li><a id = "login-register-page-col-2-sign-up-link" href = "{% url 'register' %}">SIGN UP</a></li>
<li><a id = "login-register-page-col-2-sign-up-link-login-link" href = "{% url 'login' %}">LOG IN</a></li>
</ul>
</div>
<div class = "login-register-page-col-2-login-form-section">
<h1>Recover Your Password</h1>
<form class = "login-register-page-col-2-login-form-main" method = "POST">
{% csrf_token %}
<div class = "login-register-page-col-2-login-form password-change-form">
{{form | crispy}}
<button class = "login-register-page-col-2-login-form-submit" type = "submit">Request Password Reset</button>
</div>
</form>
</div>
</div>
</div>
</div>
{% include "Securities/footer.html" %}
{% endblock bodyContent %}
